@import url("https://fonts.googleapis.com/css2?family=Halant:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Halant:wght@600&family=Nunito+Sans:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Halant", serif, "Nunito Sans", sans-serif;
  background-image: url(https://wallpaperplay.com/walls/full/c/2/2/116945.jpg);
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.navIcon {
  height: 25px;
  width: 30px;
}

.homepageCard,
.breakdownCard {
  height: 450px;
}

.aboutBody {
  font-size: 30px;
  font-family: "Nunito Sans";
}

.aboutTitle {
  font-size: 150px;
  font-family: "Halant";
}

.loginTitle {
  font-size: 70px;
  font-family: "Halant";
}

.footer {
  background-color: #26272b;
  padding: 20px 0 10px;
  font-size: 15px;
  color: #737373;
}
